POSTGRES_VERSION=18
POSTGRES_PORT=5432
POSTGRES_DB=ai_design
POSTGRES_USER=ai_design
POSTGRES_PASSWORD=ai_design_password
REDIS_VERSION=8-alpine
REDIS_PORT=6379
REDIS_USERNAME=ai_design
REDIS_PASSWORD=ai_design_redis_password
